{{#each this}}
    <a class='photo-card' href='{{largeImageURL}}'>
      <img class="lazyload" data-src='{{webformatURL}}' alt='{{tags}}' loading='lazy' width="{{webformatWidth}}" height="{{webformatHeight}}" />
      <div class='info'>
        <div class='info-item'>
          <p class='description'>Likes</p>
          <p>{{likes}}</p>
        </div>
        <div class='info-item'>
          <p class='description'>Views</p>
          <p>{{views}}</p>
        </div>
        <div class='info-item'>
          <p class='description'>Comments</p>
          <p>{{comments}}</p>
        </div>
        <div class='info-item'>
          <p class='description'>Downloads</p>
          <p>{{downloads}}</p>
        </div>
      </div>
    </a>
{{/each}}